.App {
  text-align: center;
  padding: 0 15em;
}
.table-bordered th {
  background-color: darkgrey;
}
.table-bordered th {
  border: 2px solid #030506 !important;
}

.table-bordered td {
  border: 1px solid #000000f7 !important;
}
.low {
  background-color: #f44336a1;
}
.high {
  background-color: #70b323f5;
}
@media screen and (max-width: 800px) {
  .App {
    padding: 0;
  }
}
